/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.company-item {
  background-color: rgba(255, 255, 255, 0.164);
  margin: 10px;
  padding: 7px;
  border-radius: 8px;
  border: 1px solid #312d3c;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.company-item-logo img {
  height: 100px;
  margin-right: 10px;
}

.company-item h3 {
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
}

.company-item .info {
  margin-left: 10px;
}

.company-item p {
  font-size: 0.5em;
  margin: 5px 0 0 0;
}

.company-item span {
  font-size: 0.4em;
  white-space: nowrap;
}

@media screen and (min-width: 20em) {
  .company-item .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 50em) {
  .company-item .row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}