*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
/*     background-image: url('/content/wall1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-color: #f9f9f9;
    height: 100vh;
    margin: 0;
    font-family: 'Marcellus SC', serif;
    font-size: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-item-1 {
    flex: 1;
}

.d-none {
    display: none;
}

.center {
    align-items: center;
}


@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }
}