*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Marcellus SC', serif;
    font-size: 20px;
    color: #616161;
}

.bg-image {
    background-image: url('/content/1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #f9f9f9;
    position: absolute;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-item-1 {
    flex: 1;
}

.center {
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

@media screen and (max-width: 620px) {
    body {
        font-size: 12px;
    }
}