/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.avatar {
  height: 250px;
  margin: 20px 20px 0 0;
}

.avatar img {
  height: 100%;
  border-radius: 8%;
}

#content-intro p {
  line-height: 1.5;
  font-size: .7em;
  margin-top: 10px;
  text-align: justify;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-resume {
  padding: 10px;
}

/* terminal */

#terminal {
  border: 1px solid #00ff00;
  background-color: black;
  color: #b0b33f;
  font-size: 16px;
  padding: 2px 5px;
}

@media screen and (min-width: 20em) {
  #intro-container {
    top: 0px;
  }
  .avatar {
    height: 200px;
  }
}

@media screen and (max-width: 40em) {
  #content-intro p {
    text-align: center;
    margin: 10px 0 0 0;
  }

  .avatar {
    margin: 20px;
  }
}