.avatar {
  height: 250px;
  margin: 20px;
}

.avatar img {
  height: 100%;
}

#content-intro p {
  width: 80%;
  line-height: 1.5;
  text-align: center;
}

/* terminal */

#terminal {
  border: 1px solid #00ff00;
  background-color: black;
  color: #b0b33f;
  font-size: 16px;
  padding: 2px 5px;
}

@media screen and (min-width: 20em) {
  #content-intro p {
    width: 100%;
    margin: 5px;
  }
  #intro-container {
    top: 0px;
  }
  .avatar {
    height: 200px;
  }
}

@media screen and (min-width: 50em) {
  #content-intro p {
    margin: 65px;
  }
}