.avatar {
  height: 250px;
  margin: 20px;
}

.avatar img {
  height: 100%;
  border-radius: 8%;
}

#content-intro p {
  width: 80%;
  line-height: 1.5;
  font-size: .7em;
  margin-top: 10px;
  text-align: justify;
  flex: 1;
}

/* terminal */

#terminal {
  border: 1px solid #00ff00;
  background-color: black;
  color: #b0b33f;
  font-size: 16px;
  padding: 2px 5px;
}

@media screen and (min-width: 20em) {
  #intro-container {
    top: 0px;
  }
  .avatar {
    height: 200px;
  }
}

@media screen and (max-width: 50em) {
  #content-intro p {
    text-align: center;
    margin: 10px 0 0 0;
  }
}
