.container {
  position: absolute;
  justify-content: center;
  padding: 5px;
  height: 100%;
  width: 100%;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  justify-content: center;
  z-index: 2;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Chivo", sans-serif;
  padding-bottom: 5px;
  color: white;
}

article {
  font-size: 2.5em;
}

article section {
  margin-top: -30px;
}
 
article section:not([id$=intro]) {
  opacity: 0;
}

#content-intro p {
  width: 60%;
  line-height: 1.5;
  text-align: center;
}

.menu-item {
  background-color: transparent;
  height: 100%;
  width: 155px;
}

.menu-item.selected a {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.menu-item:hover {
  cursor: pointer;
}

.mobile-toggle-menu {
  display: none;
  z-index: 1;
  padding: 10px;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  opacity: 0;
  height: 0;
  width: 100%;
  transition: height 0.4s;
  background-color: black ;
}

.mobile-menu .menu-mobile-item {
  padding: 10px;
  font-size: 25px;
}

.mobile-menu .menu-mobile-item:hover {
  font-weight: bold;
}

.mobile-menu.selected {
  position: absolute;
  height: 100%;
  opacity: 1;
  z-index: 1;
}

.menu-bar {
  font-size: 20px;
  width: 20px;
}

/*Media queries*/
@media screen and (max-width: 620px) {
  header {
    justify-content: flex-end;
  }
  header .mobile-toggle-menu {
    display: block;
  }
  header .menu {
    display: none;
  }
  article .row {
    flex-direction: column;
  }
  article section {
    margin-top: 0;
  }
  .container {
    justify-content: flex-start;
    padding: 15px;
  }
}
