/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.project-item-container {
  position: relative;
  height: 380px;
  width: 33.33%;
  padding: 10px;
  cursor: pointer;
}

.project-item-container .project-item {
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 8px;
  height: 100%;
  padding: 7px;
  -webkit-transition: background 0.3s, transform 0.3s;
  -o-transition: background 0.3s, transform 0.3s;
  transition: background 0.3s, transform 0.3s;
}

.project-item-container .project-item:hover {
  background-color: rgba(255, 255, 255, 0.28);
  transform: scale(1.05);

}

.project-logo img {
  width: 100%;
}

.project-title {
  font-weight: bold;
  font-size: 20px;
}

.project-item p {
  font-size: .5em;
  margin-bottom: 0;
}

@media screen and (max-width: 50em) {
  .project-item-container {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }

  #content-projects {
    justify-content: center;
  }
}

@media screen and (max-width: 30em) {
  .project-item-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 100%;
  }
}
