.social-media {
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    height: 70px;
    flex-flow: row;
}

.item-media {
    margin: 10px;
    text-align: center;
    height: 50px;
    -webkit-transition: margin 0.1s linear;
    -o-transition: margin 0.1s linear;
    transition: margin 0.1s linear;
}

.social-media img {
    height: 100%;
}

.item-media:hover {
    cursor: pointer;
    margin: 10px 10px 15px 10px;
}

/* @media screen and (min-width: 20em) {
    .social-media {
        flex-flow: row;
        width: 100%;
        height: 70px;
        bottom: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
        background: -o-linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
        background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    }
    .item-media {
        opacity: 1;
    }
    .item-media:hover {
        margin: 10px 10px 15px 10px;
    }
} */

/* @media screen and (min-width: 50em) {
    .social-media {
        right: 0;
    }
}