.social-media {
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    right: 0;
    height: 100%;
    width: 100px;
}

.item-media {
    margin: 10px;
    text-align: center;
    height: 50px;
    transition: margin 0.1s linear;
    opacity: 0.6;
}

.social-media img {
    height: 100%;
}

.item-media:hover {
    cursor: pointer;
    opacity: 1;
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .flex-container.social-media {
        flex-flow: row;
        width: 100%;
    }
}