/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.social-media {
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    bottom: 0;
    width: 100%;
    height: 70px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    background: -o-linear-gradient(rgba(0, 0, 1, 0), rgba(0, 0, 1, 0.71), rgb(0, 0, 0));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 1, 0)), color-stop(rgba(0, 0, 1, 0.71)), to(rgb(0, 0, 0)));
    background: linear-gradient(rgba(0, 0, 1, 0), rgba(0, 0, 1, 0.71), rgb(0, 0, 0));
}

.item-media {
    margin: 10px;
    text-align: center;
    height: 50px;
    -webkit-transition: margin 0.1s linear;
    -o-transition: margin 0.1s linear;
    transition: margin 0.1s linear;
}

.social-media img {
    height: 100%;
}

.item-media:hover {
    cursor: pointer;
    margin: 10px 10px 15px 10px;
}